/*@font-face {*/
/*  font-family: sansation_light;*/
/*  src: url(/../fonts/Sansation_Light.ttf);*/
/*}*/
/*@font-face {*/
/*  font-family: sansation_bold;*/
/*  src: url(/../fonts/Sansation_Bold.ttf);*/
/*}*/

html, body {
    width: 100vw;
    margin: 0;
    min-height: 100vh;
}

p {
    margin: 0;
}

header {
    margin: 10px 20px;
}

.block_boards {
    background-color: #00AC62;
    height: 300px;
}

.block_boards {
    display: flex;
    overflow: scroll;
}

#block_search {
    width: 250px;
    margin: 10px 20px;
}

#block_list_boards {
    /*background-color: red;*/
    margin: 0;
    height: 300px;
    flex-grow: 1;
}

#input_search {
    border: 0;
    margin: 0;
    padding: 0 12px;
    height: 40px;
    width: 226px;
    background-color: #ffffff;
    font-size: 18px;
    border-radius: 6px;
}

.board {
    width: 250px;
    margin: 10px;
    height: 114px;
    background-color: #ffffff;
    /*flex: 1 1 100px;*/
    border-radius: 6px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.board_content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 8px;
}
.board_content input,
.board_content textarea {
    font-size: 16px;
    border: #075FA2 solid 1px;
    border-radius: 5px;
    min-height: 25px;
}
.board_content textarea {
    resize: none;
    margin-top: 5px;
    flex-grow: 3;
}
.block_button {
    display: flex;
    justify-content: space-between;
}
.to_edit {
    color: rgb(180, 180, 180);
    font-size: 13px;
    text-align: right;
    /*margin-top: 20px;*/
    cursor: pointer;
    background-color: white;
    border: 0;
}
.to_edit:hover {
    color: rgb(100, 100, 100);
}

.block_list_boards {
    height: 280px;
    margin: 10px;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
}

.add_board {
    display: flex;
    justify-content: center;
}
.add_board:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.description_board {
    color: rgb(100, 100, 100);
    margin-top: 5px;
}

.h2-board_name {
    font-size: 54px;
    text-align: center;
    color: #075FA2;
}

.filter {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}
.filter_left,
.filter_right {
    display: flex;
    justify-content: flex-end;
}
.filter_elem {
    margin: 15px;
}

.block_column {
    display: flex;
    overflow: scroll;
    padding-right: 10px;
}

.column {
    width: 300px;
    min-width: 300px;
    min-height: 200px;
    border-right: 1px solid black;
}

.column_name {
    text-align: center;
}

.add_column {
    width: 290px;
    min-width: 290px;
    margin: 5px;
    min-height: 600px;
    display: flex;
    justify-content: center;
}

.add_column:hover {
    /*background-color: rgba(7, 96, 162, 0.5);*/
    background-color: rgba(0, 172, 98, 0.2);
    margin: 5px;
    border-radius: 10px;
}




.Popap_window {
    position: absolute;
    border: 1px solid black;
    width: 40%;
    margin-left: 30%;
    margin-top: 10%;
    font-family: sansation_light;
    font-size: 15pt;
    background-color: AliceBlue;
}

.popap_main {
    width: 90%;
    margin-left: 5%;
}

.Popap_window p {
    margin-bottom: 0px;
}

.Popap_window input {
    font-size: 15pt;
    width: 100%;
}

.priority_status {
    display: flex;
    margin-bottom: 5%;
    margin-top: 5%;
    width: 100%;
}

.priority {
    flex: 1;
}

.status {
    flex: 1;
}

.priority p {
    float: left;
    font-size: 16pt;
}

.priority select {
    float: right;
    margin-right: 1%;
    font-size: 14pt;
    margin-top: 8%;
    width: 55%;
}

.status p {
    font-size: 16pt;
    margin-left: 1%;
    float: left;
}

.status select {
    float: right;
    margin-right: -5px;
    font-size: 14pt;
    margin-top: 8%;
    width: 55%;
}

.priority_status option {
    width: 50%;
}

.popap_btn {
    font-size: 14pt;
    width: 30%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 5%;
    margin-right: -4px;
    margin-bottom: 5%;
}

.popap_close {
    position: relative;
    float: right;
    margin-top: -10%;
    height: 40px;
    width: 40px;
    background-color: rgb(239, 239, 239);
    color: rgb(112, 112, 112);
    font-size: 20px;
}

.for_potap_btn {
    text-align: right;
}

.content {
    margin-top: 1%;
    width: 80%;
    margin-left: 10%;
    border: 1px solid black;
    padding-bottom: 20%;
}

.navigation {
    display: flex;
}

.search_task {
    flex: 2;
    margin: 3px;
}

#statistic_completed_task, #statistic_in_work_task, #statistic_new_task, #statistic_all_task {
    flex: 1;
    text-align: center;
    margin: 3px;
}

#statistic_all_task {
    background-color: rgba(229, 105, 123, 0.5);
    margin: 3px;
}

#add_task {
    flex: 1;
    margin: 3px;
}

.footer {
    width: 90%;
    margin-left: 5%;
}

#content_table {
    margin-top: 2%;
    width: 90%;
    margin-left: 5%;
}

#act_delete {
    color: brown;
}

.block_popup {
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 40;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 40px 0;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(51, 51, 51, 0.85);
}
h2 {
    margin-block-start: 0;
}
.popup__header {
    display: flex;
}
.open_block_popup {
    opacity: 1;
    pointer-events: auto;
}

.open_block_popup .popup {
    position: relative;
    z-index: 50;
    width: 400px;
    margin: auto 0;
    padding: 25px 60px 50px 60px;
    background-color: #fff;
    border-radius: 10px;
    opacity: 1;
}
.popup_main_content {
    z-index: 100;
}

.close_popup {
    cursor: pointer;
    box-sizing: border-box;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 0;
    background: 0 0;
    border: 0;
}

.popup_content {
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.popup_content input,
.popup_content button {
    margin-top: 20px;
    border: #075FA2 solid 1px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
}

.popup_content input {
    padding-left: 10px;
}
.popup_content button {
    background-color: #075FA2;
    color: #fff;
}

.locked {
    overflow: hidden;
    pointer-events: none;
}

.res_popup {
    background-color: #075FA2;
    position: absolute;
    border-radius: 8px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
}
.res_popup__active {
    opacity: 1;
}

#canvas_confetti {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    z-index: 100;

}

.res_popup img {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0;
    right: 20px;
}

.res_popup div {
    color: white;
    font-size: 50px;
    margin: 80px 30px;
}